html, body{
	margin-left:15px; margin-right:15px;
	padding:0px;
	font-family:Sans-serif;
}

table {
	border-collapse:collapse;
	border-bottom:1px solid gray;
	font-family: Sans-serif;
	width:72.45%;

}
td,th{
	text-align: left;
	padding: 0px 0px 0px 10px;
}

th {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #09c332;
	padding:10px;
	color: #FFFFFF;
	text-align:left;
}

tr {
	border-top:1px solid gray;

}
.buttons{
	width: 72%;
}
.add-button-left{
	float: left;
}

.search-button-right{
	float: right;
}
 
tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #d3d3d3
}
 
#wrapper {width: 100%; margin-top: 0px; }
#header {width: 71.8%; background: #09c332; margin-top: 0px; padding:15px 0px 15px 15px;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF; text-align: center}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}

.center-content-area{

}

.add-button {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	font-weight: bold;
	width: 150px;
	padding: 5px 10px; 
	
	margin-bottom: 15px;
	background: #cccccc;
}